.about {
    display: flex;
    flex-direction: column;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.about__hr {
    border-color: var(--clr-slate600);
}

.about__subtitle {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

/* new about ul */

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem;
    background: var(--clr-dark);
    color: var(--clr-light);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-slate800);
    white-space: nowrap;
}

.scroller {
    max-width: 600px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 80%,
        transparent
    );
    mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 80%,
        transparent
    );
}

.scroller[data-animated="true"] .scroller__inner {
    flex-wrap: nowrap;
    animation: 
        scroll var(--animation-duration, 40s)
        var(--animation-direction, forwards)
        linear 
        infinite;
}

.scroller[data-direction="right"] {
    --animation-direction: reverse;
}

/* default direction */
.scroller[data-direction="left"] {
    --animation-direction: forwards;
}

/* defualt duration is 40s */
.scroller[data-speed="slow"] {
    --animation-duration: 20s;
}

.scroller[data-speed="fast"] {
    --animation-duration: 120s;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}
/* End of new about ul */

/* xs */
@media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }
    
    .about__content {
        gap: 1.5rem;
    }
    
    .about__title {
        font-size: var(--size-3xl);
    }
    
    .about__description {
        font-size: var(--size-base);
    }
    
    .about__subtitle {
        font-size: var(--size-base);
    }


    /* .about__list {
        font-size: var(--size-base);
    } */
}

/* sm */
@media (min-width: 640px) {
    .about {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/* md */
/* @media (min-width: 768px) {

} */

/* lg */
@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about__title {
        font-size: var(--size-4xl);
    }
    
    .about__description {
        font-size: var(--size-lg);
    }
    
    .about__subtitle {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280x) {
    .about__content {
        gap: 2rem;
    }

    .about__title {
        font-size: var(--size-5xl);
    }
    
    .about__description {
        font-size: var(--size-xl);
    }
    
    .about__subtitle {
        font-size: var(--size-xl);
    }
}

/* 2xl */
/* @media (min-width: 1536x) {

} */